DB_NAME=database
DB_USER=user
DB_SERVICE_NAME=host
DB_PORT=15433
DB_PORT_INTERNAL=5432
DB_PASSWORD=password

VPS_USER=admin
VPS_HOST=test.app

CARDS_GRPC_PORT=50051
CARDS_REST_PORT=8080

REVIEWS_GRPC_PORT=50053
REVIEWS_REST_PORT=8083
